.main {
  max-width: 980px;
  margin-inline: auto;

  transform: translateY(-35px);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-inline: 1rem;

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media (width > 800px) {
      flex-direction: row;
      align-items: end;
      gap: 25px;
    }
  }

  .avatar-profile {
    width: 115px;
    aspect-ratio: 1/1;
    border-radius: var(--rounded-md);
    outline: 5px solid var(--bg-primary);
    background: var(--bg-secondary);
  }

  .item-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    .item {
      padding: 1rem;
      background-color: var(--bg-secondary);
      border-radius: var(--rounded-sm);
      display: flex;
      flex-wrap: wrap;

      span:first-child {
        color: var(--text-secondary);
      }

      span:last-child {
        color: var(--text-primary);
      }

      span:first-child::after {
        content: '';
        margin-inline: 0.5rem;
        border-right: 1px solid var(--text-secondary);
      }
    }
  }

  .data-user {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width > 800px) {
      align-items: start;
    }

    .user {
      font-size: var(--text-size-xlg);
      font-weight: lighter;
      text-align: center;

      @media (width > 720px) {
        text-align: start;
        width: max-content;
      }
    }

    .userName {
      font-size: var(--text-size-md);
      color: var(--text-primary);
      margin-top: 0.5rem;
      text-align: center;

      @media (width > 720px) {
        text-align: start;
        width: max-content;
      }
    }

    .description {
      font-size: var(--text-size-md);
      color: var(--text-tertiary);
      margin-top: 0.8rem;
      text-align: center;

      @media (width > 720px) {
        text-align: start;
        width: max-content;
      }
    }
  }
}

.card-container {
  display: grid;
  gap: 1rem;
  flex-wrap: wrap;
  grid-template-columns: 1fr;

  @media (width > 720px) {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    border-radius: var(--rounded-sm);
    background: var(--bg-card);

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem;

    &:hover {
      outline: 1px solid #7a71fd;
    }

    h3 {
      font-size: var(--text-size-lg);
    }

    p {
      color: var(--text-tertiary);
      line-height: 1.5rem;
    }

    ul {
      display: flex;
      gap: 1rem 1.5rem;
      flex-wrap: wrap;

      li {
        color: var(--text-tertiary);
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
