.modal{
  border: none;
  margin: auto;
  padding: 2rem;
  border-radius: var(--rounded-sm);
  outline: none;
  padding-top: 3rem;

  .close-modal{
    all: initial;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: 0.5s;
    scale: 1.4;
    color: white;


    &:hover{
      opacity: 0.6;
    }
  }
}