.modal {
  border: none;
  margin: auto;
  overflow: visible;

  &[open]::backdrop {
    animation: backdrop-fade-in 0.3s ease-out forwards;
  }

  div {
    border-radius: var(--rounded-sm);
    background: red;
    padding: 2.5rem;
    padding-top: 3.5rem;
    background: var(--bg-primary);
    position: relative;

    &::before {
      content: '';
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-image: url('/favicon.png'), url('./favicon.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateY(-70px) translateX(0px) rotateY(180deg);
    }

    p {
      text-align: center;
      font-size: var(--text-size-md);

      @media (width > 720px) {
        font-size: var(--text-size-lg);
      }
    }

    .close-modal {
      all: initial;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      transition: 0.5s;
      scale: 1.4;
      color: white;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@keyframes backdrop-fade-in {
  0% {
    background: black;
    opacity: 0;
  }

  100% {
    background: black;
    opacity: 0.6;
  }
}
