.modal {
  border: none;
  margin: auto;

  &[open]::backdrop {
    animation: backdrop-fade-in 0.3s ease-out forwards;
  }

  div {
    border-radius: var(--rounded-sm);
    background: red;
    padding: 2rem;
    padding-top: 3rem;
    background: var(--bg-primary);

    .close-modal {
      all: initial;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      transition: 0.5s;
      scale: 1.4;
      color: white;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@keyframes backdrop-fade-in {
  0% {
    background: black;
    opacity: 0;
  }

  100% {
    background: black;
    opacity: 0.6;
  }
}